h1{
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 30px;
}
body{
    text-align: center;
    /* background: linear-gradient(to right, red, rgb(230, 22, 167)); */
}
button{
    width: 20%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
}
input{
    border-radius: 50%;
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 50px;
    height: 50px;
}
div{
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
}
